body
{
	text-align: center;
}
body > div
{
	border: 5px solid;
	border-radius: 100px;
}
div:last-child > h1
{
	border: 2px solid;
	border-radius: 100px;
	display:inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 400px;
	padding-right: 400px;
}
div:nth-child(2),div:nth-child(3)
{
	border: 2px solid;
	border-radius: 100px;
	padding: 100px;
	display:inline-block;
}
div:nth-child(4)
{
	border: 2px solid;

}
div > span
{
	display:inline-block;
	border: 2px solid blue;
	border-radius: 90px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}