body
{
	font-family:comic sans ms;
	text-align:center;
}
div
{
	font-size:4vw;
	text-align:left;
	margin-left:10%;
	margin-right:10%;
	color:#000066;
	text-shadow: 3px 3px white;
}
.heading
{
	text-decoration:underline;
	font-size:8vw;
	margin:auto;
	text-align:center;
	margin-top:-20px;
}
img
{
	width:100%;
	z-index:-1;
	position:fixed;
	top: 0px;
	left:0px;
	height:100%;
	
}
button
{
	width:20%;
	text-align:center;
	font-size:3vw;
	background-color:white;
	font-family:calibri;
	border-style:none;
	border-radius:50px;
}
button:hover
{
	cursor:pointer;
	color:white;
	background-color:blue;
}